.darkBackground {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, .7);
    display: flex;
}

.darkBackgroundHidden {
    composes: darkBackground;
    visibility: hidden;
}

.creatorContainer {
    margin-top: 120px;
    margin-left: 20px;
    height: 600px;
    width: 600px;
    background-color: var(--main-bg-color-light);
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.creatorForm {
    display: flex;
    flex-direction: column;
}

.inputCreator {
    width: 50%;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    outline: none;
    height: 5%;
    font-size: 16px;
}

.inputThread {
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}

.dataList {
    composes: inputCreator;
}

.textareaCreator {
    composes: inputCreator;
    resize: none;
    width: 100%;
    height: 60%;
    box-sizing: border-box;
}

.buttonCreator {
    cursor: pointer;
    background-color: var(--blue-color);
    margin: 10px 0;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    color: var(--text-light-color);
    border-radius: 10px;
    align-self: flex-end;
    font-size: 16px;
}

.addTagButton {
    composes: buttonCreator;
    align-self: flex-start;
}

.tagFormContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.tagsContainer {
    composes: tagFormContainer;
    overflow-x: auto;
}

.tag {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #1da1f2;
    padding: 4px;
    margin: 4px;
    color: var(--text-light-color);
}

.buttonCreator:hover {
    background-color: var(--blue-color-button-hover);
}

.inputFile {
    display: none;
}

.loadButton {
    composes: buttonCreator;
    align-self: flex-start;
}
.loadButtonDone {
    composes: loadButton;
    background-color: #6ccd56;
}

