@import '../../commons/colors.css';

.darkBackground {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkBackgroundHidden {
    composes: darkBackground;
    visibility: hidden;
}

.creatorContainer {
    height: 70%;
    width: 60%;
    background-color: var(--main-bg-color-light);
    border-radius: 10px;
    padding: 10px 20px;
    overflow: hidden;
}

.chatGrid {
    display: grid;
    grid-template-areas:
    "header"
    "chats";
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
    grid-gap: 5px;
    height: 100%;
}
.chatsHeader {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chats {
    grid-area: chats;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.chats::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.chats::-webkit-scrollbar
{
    width: 12px;
    height: 8px;
}

.chats::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #000000;
}

.chatElement {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
}

.chatHeader{
    display: flex;
    justify-content: space-between;
}

.closeButton {
    cursor: pointer;
    align-self: flex-start;
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 10px;
}

.chat {
    height: 100%;
    display: grid;
    grid-template-areas:
    "exit"
    "messages"
    "form";
    grid-template-rows: 5% 85% 10%;
    grid-template-columns: 100%;
    grid-gap: 5px;
}

.backButton {
    grid-area: exit;
    composes: closeButton;
    padding: 10px;
    align-self: auto;
}


.messageList {
    padding: 10px;
    composes: chats;
    background-color: #f1f1f1;
    border-radius: 5px;
    grid-area: messages;
    display: flex;
    flex-direction: column;
}

.myMessage {
    margin: 2px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1da1f2;
    color: white;
    align-self: flex-end;
}

.personMessage {
    composes: myMessage;
    background-color: #2caa12;
    align-self: flex-start;
}

.inputSpace {
    border: none;
    grid-area: form;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.messageInput {
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
}

.sendButton {
    cursor: pointer;
    border: none;
    width: fit-content;
    padding: 10px;
    background-color: #1da1f2;
    color: white;
    border-radius: 5px;
    font-weight: bold;

}

.topicSelect {
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    outline: none;
    height: 5%;
    font-size: 16px;
    background-color: #ffffff;
    cursor: pointer;
}

.chatCreateContainer {
    display: flex;
    align-items: center;
}

.label {
    font-weight: bold;
}

.redLabel {
    composes: label;
    color: var(--red-color);
}


