.card {
    display: grid;
    grid-template-areas:
    "image"
    "text";
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    grid-gap: 5px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
}

.cardText {
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cardTitle {
    margin: 10px 0;
}

.cardDate {
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    align-self: flex-end;
}

.authorName {
    composes: cardDate;
    align-self: auto;
}


.cardImage {
    grid-area: image;
    background-size: 'cover';
    height: 100%;
    width: 100%;
}

.cardPreview {
    color: black;
    font-size: 16px;
    display: inline-block;
    position: relative;
    user-select: none;
}

.cardPreviewLight {
    composes: cardPreview;
    color: var(--main-bg-color-light);
}

.cardTextPreviewGradientDark {
    composes: cardPreview;
    background: linear-gradient(to bottom, black 0%, transparent 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardTextPreviewGradientLight {
    composes: cardPreviewLight;
    color: var(--main-bg-color-light);
    background: linear-gradient(to bottom, var(--main-bg-color-light) 0%, transparent 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
