.settings {
    font-size: 14pt;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 20%;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 300px;
    background-color: #e5e5e5;
    padding: 20px;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
}

.settingsHidden {
    composes: settings;
    visibility: hidden;
}

.darkBackground {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, .7);
}

.darkBackgroundHidden {
    composes: darkBackground;
    visibility: hidden;
}

@keyframes fadein {
    from { 
        opacity: 0;
    }
    to { 
        opacity: 1;
    }
}

@keyframes fadeout {
    from { 
        opacity: 1;
    }
    to { 
        opacity: 0;
    }
}

.userWidget {
    height: 70px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.userInputContainer {
    composes: userWidget;
    display: flex;
    align-items: center;
    background-color: white;
}

.userInput {
    font-size: 15pt;
    outline: none;
    border: none;
    width: 100%;
}

.userButton {
    font-size: 12pt;
    composes: userWidget;
    background-color: var(--blue-color);
    color: var(--text-light-color);
    font-weight: bold;
    cursor: pointer;
}

.exitButton {
    composes: userButton;
    color: var(--text-light-color);
    background-color: var(--red-color);
}

.passStatus {
    cursor: pointer;
}

.userPassStatusOption {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
}

.userPassStatusText {
    margin: 0 10px;
}

.userPassStatusCheck {
    border: 2px dashed blue;
}
