.header {
    display: grid;
    grid-template-areas: 'utils logo search' ;
    grid-template-columns: 30% 40% 30%;
    background-color: #e5e5e5;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    z-index:1;
}



.logo {
    grid-area: 'logo';
    text-align: center;
}

.utils {
    display: flex;
    flex-direction: row;
    grid-area: 'utils';
    text-align: center;
    justify-content: space-around;
}

.search {
    grid-area: 'search';
    justify-content: center;
}
