@import '../../commons/colors.css';

.header {
    display: grid;
    grid-template-areas: 'utils logo search';
    grid-template-columns: 30% 40% 30%;
    background-color: var(--main-bg-color-light);
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    z-index:1;
}

.headerGuest {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color-light);
    padding: 10px;
    z-index:1;
}

.logo {
    grid-area: 'logo';
    text-align: center;
}

.utils {
    display: flex;
    flex-direction: row;
    grid-area: 'utils';
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.buttons {
    composes: utils;
    justify-content: space-between;
}


@media screen and (max-width:1575px){
    .buttons {
        flex-direction: column;
    }

}

@media screen and (max-width:996px){
    .logo {
        visibility: hidden;
    }

}



.search {
    grid-area: 'search';
    justify-content: center;
}

.userImage {
    cursor: pointer;
    height: 80px;
    width: 80px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--blue-color);
    transition: ease .6s;
}

.userTopicCreator{
    cursor: pointer;
}

.userImage:hover {
    background-color: var(--blue-color-focus);
}
