.header {
    height: 10vh;
    display: grid;
    grid-template-areas: 'utils logo search' ;
    grid-template-columns: 30% 40% 30%;
    background-color: #e5e5e5;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    z-index:1;
}



.logo {
    grid-area: 'logo';
    text-align: center;
}

.utils {
    display: flex;
    flex-direction: row;
    grid-area: 'utils';
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

.search {
    grid-area: 'search';
    justify-content: center;
}

.userImage {
    cursor: pointer;
    height: 80px;
    width: 80px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: darkblue;
    transition: ease .6s;
}

.userImage:hover {
    background-color: red;
}
